
body {
    background-color: #24353F;
    color: white;
    font-family: sans-serif;
}

.content {
    box-shadow: rgb(0, 0, 0) -5px 2px 54px -9px;
}

.vh-80 {
    height: 80vh;
}

h1 {
    color: #17a2b8;
}

.test {
    --bs-body-color:rgb(255, 255, 255) ; 
    --bs-body-bg:transparent;
    --bs-border-color:rgb(206, 212, 218);
}

.form-control:focus {
    color: white;
    background-color: transparent;
    box-shadow: none;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
}


.btn-outline-info {
    --bs-btn-color: #17a2b8;
    --bs-btn-border-color: #17a2b8;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #17a2b8;
    --bs-btn-hover-border-color: #17a2b8;
    --bs-btn-focus-shadow-rgb: 13, 202, 240;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #17a2b8;
    --bs-btn-active-border-color: #17a2b8;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #17a2b8;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #17a2b8;
    --bs-gradient: none;
}

.btn-outline-warning {
    --bs-btn-active-color: #fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-color: rgba(255, 255, 255, 0.5);
}

p a {
    text-decoration: none;
    color: inherit;
}

p a:hover {
    text-decoration: underline;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: inherit;
}

.navbar-toggler:focus {
    box-shadow: none;
    --bs-navbar-toggler-border-color:white ;
}

.navbar {
    --bs-navbar-brand-color: white;
    --bs-navbar-brand-hover-color: white;
    background-color: transparent;
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, .5);
    --bs-navbar-toggler-icon-bg: none;
}